body {
   background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));
}

body, html {
}

body {
  font-family: Verdana;
  
  width:100%;
  height:100%;

  /* Safari, Chrome, and Opera */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  display:box;
  box-pack:center;
  box-align:center;
} 

input {
  background:none;
  border-width: 0px 0px 1px 0px;
  border-color: #FFF;
  font-size:1em;
  color:#FFF;
  width:100%;
}

input[type=submit] {
  background-color:#1a82f7;
  border: 1px solid #2C2323;
  color:#FFF;
  border-radius: 2px;
}

.hidden {
  opacity: 0 !important;
}

#transcript {
  color:#FFF;
}

#voice, #mic {
  transition: all;
  transition-duration: 0.4s;
  height: 140px;
  width: 140px;
  border-radius: 70px;
  background-color:#000;
  opacity: 0.8;
  position: relative;
}

#voice {
  background-color:#000;
}

#

#mic {
  background-color:#FF0;
}

.circle {
    transition: all;
    transition-duration: 1s;
    background-color: rgba(0,0,0,0);
    border: 10px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 10px solid rgba(0,0,0,0);
    border-left: 10px solid rgba(0,0,0,0);
    border-radius: 100px;
    box-shadow: 0 0 35px #2187e7;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -webkit-animation: spinoffPulse 2s infinite linear;
}


#speech-eye {
  height:150px;
  display:block;
  clear:both;
}

#speech-eye.speaking .circle {
  -webkit-animation: spinoffPulse 1s infinite linear;
  border: 10px solid rgba(229,229,229,0.9);
  box-shadow: 0 0 35px #e7e7e7;
  -webkit-animation: spinPulse 1s infinite linear;
}

#speech-eye.listening .circle {
  border: 10px solid rgba(229,50,50,0.9);
  box-shadow: 0 0 35px #e70000;
  -webkit-animation: spinPulse 1.4s infinite linear;
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
        border-width:10px;
    }

    50% {
        opacity: 1;
        border-width: 20px;
    }

    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
        border-width:10px;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}